 /* Style the table */
 table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  /* Style the search input */
  .search-container {
    margin-bottom: 20px;
  }

  .search-container input[type=text] {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  /* Style the pagination */
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }

  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }

  .pagination a:hover:not(.active) {background-color: #ddd;}

  .edit-button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
  }

  .edit-button a{
    color: white;
  }

  .delete-button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
  }

  .delete-button a{
    color: white;
  }

/*==================================================================*\

