{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> Smart Geobag Counting System </title>
</head>
<body>
<div class = "Top-Section">

    <div class="top_bar">
        <div class = "logo">
          <a href=""><img src="{% static 'images/logo.png' %}"  alt="" >
            </a>
        <h1>Smart Geobag Counting System</h1>

    </div>

    </div>
</div>

<div class="body-section">

    <div class="form-container">
        <h2>Upload Image and Figure</h2>
        <form action="{% url 'filledriverbank_update' %}"  method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{filledriverbankdata.id}}" id=""><br><br>
        <div class="form-group">
          {% if filledriverbankdata.geobag_counting_riverbank_img %}
          <img src="{{ filledriverbankdata.geobag_counting_riverbank_img.url }}" alt="{{ filledriverbankdata.geobag_counting_riverbank_img.name }}" style="height: 100px; width:100px;"><br>
          {% endif %}
          <label for="exampleInputImage" class="form-label">Filled RiverBank Image Update</label>
          <input type="file" class="form-control" id="exampleInputImage" name="geobag_counting_riverbank_img" value="{{ filledriverbankdata.geobag_counting_riverbank_img.url }}" accept="image/*"><br><br>
        </div>
          <div class="form-group">
            <label for="title">Filled RiverBank Image figure Text:</label>
            <input type="text" id="image_figure_text" name="counting_figure_text" value ="{{filledriverbankdata.counting_figure_text}}">
          </div>
          <button type="submit">Update</button>
        </form>
      </div>




</div>





</body>
</html>