{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> Smart Geobag Counting System </title>
</head>
<body>
<div class = "Top-Section">

    <div class="top_bar">
        <div class = "logo">
          <a href=""><img src="{% static 'images/logo.png' %}"  alt="" >
            </a>
        <h1>Smart Geobag Counting System</h1>

    </div>

    </div>
</div>

<div class="body-section">

    <div class="form-container">
        <h2>Upload Image and Figure</h2>
        <form action="{% url 'toonificationimageinsert' %}"  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputImage" class="form-label">Toonification Image Upload</label>
            <input type="file" class="form-control" id="exampleInputImage" name="toonification_photo" accept="image/*" onchange="previewImage(event)">
          </div>
          <div id="imagePreviewContainer" class="mb-4" style="display: none;">
            <img id="imagePreview" src="#" alt="Uploaded Image" style="max-width: 100%; max-height: 200px;">
        </div>
          
          <button type="submit">Submit</button>
        </form>
      </div>


</div>



<script>
  function previewImage(event) {
    var input = event.target;
    var reader = new FileReader();
    reader.onload = function() {
        var preview = document.getElementById('imagePreview');
        preview.src = reader.result;
        document.getElementById('imagePreviewContainer').style.display = 'block';
    }
    reader.readAsDataURL(input.files[0]);
}

document.getElementById('submitButton').addEventListener('click', function() {
    document.getElementById('uploadForm').submit();
});
</script>


</body>

</html>






